useDynLib(segmentation, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(pcf)
export(multipcf)
export(restricted_pcf)
export(exact_pcf)
export(fast_pcf)
export(expanding_fast_pcf)
export(exact_multipcf)
export(fast_multipcf)
export(expanding_fast_multipcf)
export(mark_positions)